<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Skylar Arce">
    <meta name="description" content="Skylar Arce's professional website">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <title>Skylar Arce</title> 
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webName">Skylar Arce</h1>
        <nav id="myTopNav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html" class="active">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form action="">
            <label for="UserName">Your Name (required):</label>
            <input type="text" name="UserName" id="UserName" required/>
            <label for="UserEmail">Your Email (required):</label>
            <input type="email" name="UserEmail" id="UserEmail" required/>
            <label for="UserText">Your Comment or Question:</label>
            <textarea name="UserText" id="UserText" cols="30" rows="10" required></textarea>
            <input class="button" type="submit" value="SEND" onclick="validate()"/>
        </form>
        <p id="ValidateMsg"></p>

        <table border="1">
            <tr><th>Contact Method</th><th>Description</th></tr>
            <tr><td>Email</td><td>sdarce@andrew.cmu.edu</td></tr>
            <tr><td>Phone</td><td>(323) 332 - 7155</td></tr>
            <tr><td>LinkedIn</td><td><a href="https://www.linkedin.com/in/skylar-arce" target = "_blank">
                Skylar's LinkedIn Profile</a></td></tr>
        </table>

    </div>
    <footer>
        <p id="copyYear">Skylar Arce &copy</p>
    </footer>
</body> 
</html>