<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Skylar Arce">
    <meta name="description" content="Skylar Arce's professional website">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <title>Skylar Arce</title> 
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webName">Skylar Arce</h1>
        <nav id="myTopNav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border="1">
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Contact Information</td><td>Email: sdarce@andrew.cmu.edu
                <br>LinkedIn: <a href="https://www.linkedin.com/in/skylar-arce" target = "_blank">Skylar's 
                    LinkedIn Profile</a></td></tr>
            <tr><td>Education History</td><td>Carnegie Mellon University (2023-2027)
                <br>B.S. in Information Systems<br>Society of Hispanic Professional Engineers (SHPE)<br>
                Society of Women Engineers (SWE)<br>User Experience Student Association (UXA)<br>Relevant Coursework: 
                <br>- Fundamentals of Programming and Computer Science<br>- Designing Human-Centered Software
                <br>- Information Systems Milieux<br>- Reasoning with Data<br>- Principles of Computing
                <br>- Differential and Integral Calculus<br><br>Saint Monica 
                Preparatory (2019-2023)<br>President of Senior Class Council<br>
                President of Math Club<br>Vice President of Women's Activist Club<br>
                Senior Student Ambassador<br>Varsity Volleyball Team</td></tr>
            <tr><td>Skills</td><td>Python, HTML, CSS, JavaScript, Java, Swift</td></tr>
            <tr><td>Technical Experience</td><td>AI4All @ Carnegie Mellon University
                (July 2021)<br>Developed a computer program in Python with team of 5 
                to detect early-onset Parkinson's disease.<br><br>Kode With Klossy (July 2020 & August 2021)
                Advanced skills in HTML, CSS, and JavaScript to build a website in a team of 3 that 
                educated others on their voting rights based on their state.<br>
                Created a mobile app with Swift on Xcode in a team of 3 that provided mental health 
                check-ins for the elderly.<br>Awarded Semi-Finalist for Annual Report Design 
                Challenge (2022) among college-level students.<br><br>Girls Who Code (August 2019)<br>
                Learned the fundamentals of web development and built a mini portfolio website and 
                BuzzFeed-like quiz in HTML, CSS, and JavaScript.
            </td></tr>
            <tr><td>Work Experience</td><td>Kode With Klossy (seasonal event employment) - 
                October 2021 - December 2021<br>Role: Workshop Facilitator<br><br>Recruited girls who 
                were interested in learning how to code and led workshops on the fundamentals 
                of web development, teaching girls about programming languages: HTML and CSS.</td></tr>
            <tr><td>Volunteer Experience</td><td>Girasoles En Marcha (September 2018 - August 2023)<br>
            Role: Lead Youth Mentor & Web Developer<br><br>Mentored 25 elementary-aged Latinas in a 
            community organization centered on preserving Latin and Indigenous cultures while 
            providing monthly outdoor and STEM experiences.<br>Designed and built organization's 
            official website on Replit using HTML and CSS.<br><li>Website increased the 
            organization's Instagram following by 1,000+ followers and built credibility and 
            trust between the community and the organization.</li>Led monthly workshops to ~15 
            participants both in-person and via Zoom on a wide range of topics including body 
            image, animal cruelty, and math tutoring.<br>Earned Certificate of Appreciation 
            from the Mayor of Los Angeles, Eric Garcetti (2019)</td></tr>
        </table>
        <a href="../static/Skylar Arce Resume.pdf" target = "_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear">Skylar Arce &copy</p>
    </footer>
</body> 
</html>